/* Start Global Rules */
*{
    font-family: "Georama", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
:root{
    --main-color:#0E9E4D;
    --second-color:#1f1f1f;
    --font-color:#424248;
    --hover-color:#208f50;
    --border-color:rgba(14, 158, 77, 0.6);
    --main-padding:100px;
}
html {
    scroll-behavior: smooth;
  }
.container {
    padding-left: 60px;
    padding-right: 60px;
}
::selection {
    color: white;
    background-color: var(--main-color);
}
/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(231, 221, 221);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
  }

/* End Global Rules */

/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    background: url(/imgs/download1.jpg);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position:20% 50%;
    position: relative;
}
.landing-page .header-area {
    box-shadow: 0 0 10px #ddd;;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left:60px;
    padding-right:60px;
}
.landing-page  .logo {
    padding-right: 7px;
}
.landing-page  .logo img {
    max-width: 100px;
}
.landing-page  .links li {
    display: inline-block;
}
.landing-page  .links li:not(:last-child) {

    margin-right: 30px;
}
.landing-page  .links a{
    color: var(--second-color);
}
.landing-page  .links a:hover {
    color: var(--main-color);
}
.landing-page  .info-enter .login{
    margin-right: 30px;
}
.landing-page  .info-enter a {
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 5px;
}
.landing-page  .info-enter a:hover,
.landing-page .banner .banner-right .tab-content .submit:hover,
.landing-page .banner .banner-left a:hover{
    background-color: var(--hover-color);
}
.landing-page .container .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 120px);

}
.landing-page .banner .banner-left {
    flex: 1;
    padding-right: 30px;
}

.landing-page .banner .banner-right {
    flex: 1;
}
.landing-page .banner .banner-left .title {
    color: var(--font-color);
    font-size: 40px;
    max-width: 400px;
    margin-bottom: 60px;
}
.landing-page .banner .banner-left a {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}
.landing-page .banner .banner-right .title{
    font-size: 22px;
    margin-bottom:10px ;
}
.landing-page .banner .banner-right .tab-content{
    background-color: #fff;
    box-shadow: 0 0 15px 3px rgba(27, 39, 61, 0.1);
    border-radius: 5px;
}
.landing-page .banner .banner-right .tab-content form {
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.landing-page .banner .banner-right .tab-content input:not(:last-child) {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.landing-page .banner .banner-right .tab-content input {
    outline: 1px solid var(--main-color);
    border:1px solid var(--main-color)
}
.landing-page .banner .banner-right .tab-content .submit {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
}
.landing-page .long-image {
    position: absolute;
    bottom: 0;
    left: 0;
}
.landing-page .long-image img:first-child {
   max-width:100%;
}
.landing-page .long-image .bus {
    position: absolute;
    right: 0;
    bottom: 5px;
    /* animation: move-t0 5s 1s 0s infinite normal linear; */
    animation-name: move-to;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move-to {
    form {
        right:0 ;
    }
    to {
        right: 100%;
    }
}
/* End Landing Page */

/* Start Images Page */
.images-page {
    padding-top: var(--main-padding);
}
.images-page .main-heading {
    text-align: center;

}
.images-page .main-heading h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
    margin: 0 auto;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--main-color);

}
.images-page .main-heading p{
    font-size: 20px;
    letter-spacing: 2.5px;
    margin: 30px 0px;
}
.images-page .images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
}
.images-page .images-container .box {
    background-color: var(--main-color);
    width: 370px;
    height: 370px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 15px 3px rgba(27, 39, 61, 0.1);
    overflow: hidden;
    margin: 0 auto;
}
.images-page .images-container .box img {
    width: 350px;
    border-radius: 5px;
    height: 350px;

}
.images-page .images-container .box .content {
    background-color: rgb(255 255 255 / 84%);
    position: absolute;
    text-align: center;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    bottom: -100%;
    padding: 20px;
    transition: 0.3s;
}
.images-page .images-container .box:hover .content {
    bottom: 10px;
}
.images-page .images-container .box .content h2 {
    margin-bottom: 20px;
}
.images-page .images-container .box .content p {
    background-color: var(--main-color);
    color: white;
    width: 100px;
    margin: 0 auto;
    padding: 10px 5px;
    text-align: center;
    border-radius: 5px;
}
.images-page .images-container .box .content p:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}
/* End Images Page */
@media (max-width:480px) {
    .landing-page .banner .banner-left .title {
        font-size: 20px;
    }
    .landing-page .header-area {
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    .images-page {
        padding-top: 0px;
    }
}
@media (max-width:992px) {
    .long-image {
        display: none;
    }
}
@media (max-width:768px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .info-enter {
        display: none;
    }
    .landing-page {
        background-image: none;
    }
    .landing-page .banner {
        flex-direction: column;
        row-gap: 30px;
    }
    /* .images-page .images-container .box {
        margin: 0 auto;
    } */
}
