/* Start Global Rules */
*{
    font-family: "Georama", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
:root{
    --main-color:#0E9E4D;
    --second-color:#1f1f1f;
    --font-color:#424248;
    --hover-color:#208f50;
    --border-color:rgba(14, 158, 77, 0.6);
    --main-padding:100px;
}
html {
    scroll-behavior: smooth;
  }
.container {
    padding-left: 60px;
    padding-right: 60px;
}
::selection {
    color: white;
    background-color: var(--main-color);
}
/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(231, 221, 221);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
  }

/* End Global Rules */

/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    background: url(/imgs/download1.jpg);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position:20% 50%;
    position: relative;
}
.landing-page .header-area {
    box-shadow: 0 0 10px #ddd;;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    display: flex;
    padding-left:60px;
    padding-right:60px;
}
 .logo img {
    max-width: 100px;
}
.landing-page .links {
    padding-bottom: 10px;
    padding-top: 10px;
}
.landing-page  .links li {
    display: inline-block;
}
.landing-page  .links li:not(:last-child) {

    margin-right: 30px;
}
.landing-page  .links a{
    color: var(--second-color);
}
.landing-page  .links a:hover {
    color: var(--main-color);
}
.landing-page  .info-enter .login{
    margin-right: 30px;
}
.landing-page  .info-enter a {
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 5px;
}
.landing-page  .info-enter a:hover,
.landing-page .banner .banner-right .tab-content .submit:hover,
.landing-page .banner .banner-left a:hover{
    background-color: var(--hover-color);
}
.landing-page .container .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 120px);

}
.landing-page .banner .banner-left {
    flex: 1;
    padding-right: 30px;
}

.landing-page .banner .banner-right {
    flex: 1;
}
.landing-page .banner .banner-left .title {
    color: var(--font-color);
    font-size: 40px;
    max-width: 400px;
    margin-bottom: 40px;
}
.landing-page .banner .banner-left a {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}
.landing-page .banner .banner-right .title{
    font-size: 22px;
    margin-bottom:10px ;
}
.landing-page .banner .banner-right .tab-content{
    background-color: #fff;
    box-shadow: 0 0 15px 3px rgba(27, 39, 61, 0.1);
    border-radius: 5px;
}
.landing-page .banner .banner-right .tab-content form {
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.landing-page .banner .banner-right .tab-content input:not(:last-child) {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.landing-page .banner .banner-right .tab-content input {
    outline: 1px solid var(--main-color);
    border:1px solid var(--main-color)
}
.landing-page .banner .banner-right .tab-content .submit {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
}
.landing-page .long-image {
    position: absolute;
    bottom: 0;
    left: 0;
}
.landing-page .long-image img:first-child {
   max-width:100%;
}
.landing-page .long-image .bus {
    position: absolute;
    right: 0;
    bottom: 5px;
    /* animation: move-t0 5s 1s 0s infinite normal linear; */
    animation-name: move-to;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move-to {
    form {
        right:0 ;
    }
    to {
        right: 100%;
    }
}
/* End Landing Page */

/* Start Images Page */
.images-page {
    padding-top: var(--main-padding);
}
.images-page .main-heading {
    text-align: center;

}
.images-page .main-heading h1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    max-width: 260px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--main-color);
    max-width: fit-content;

}
.images-page .main-heading p{
    font-size: 20px;
    letter-spacing: 2.5px;
    margin: 30px 0px;
}
.images-page .images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
}
.images-page .images-container .box {
    background-color: var(--main-color);
    width: 290px;
    height: 290px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 15px 3px rgba(27, 39, 61, 0.1);
    overflow: hidden;
}
.images-page .images-container .box img {
    width: 280px;
    border-radius: 5px;
    height: 280px;

}
.images-page .images-container .box .content {
    background-color: rgb(255 255 255 / 84%);
    position: absolute;
    text-align: center;
    width: calc(100% - 10px);
    left: 50%;
    transform: translateX(-50%);
    bottom: -100%;
    padding: 20px;
    transition: 0.3s;
}
.images-page .images-container .box:hover .content {
    bottom: 5px;
}
.images-page .images-container .box .content h2 {
    margin-bottom: 20px;
}
.images-page .images-container .box .content p {
    background-color: var(--main-color);
    color: white;
    width: 100px;
    margin: 0 auto;
    padding: 10px 5px;
    text-align: center;
    border-radius: 5px;
}
.images-page .images-container .box .content p:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}
/* End Images Page */
@media (max-width:480px) {

    .landing-page .header-area {
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    .images-page {
        padding-top: 0px;
    }
    .footer .footer-top .container {
        text-align: center;
    }
}
@media (max-width:992px) {

}
@media (max-width:768px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .info-enter {
        display: none;
    }
    .landing-page {
        background-image: none;
    }
    .landing-page .banner {
        flex-direction: column;
        row-gap: 30px;
    }    .long-image {
        display: none;
    }
    .header-area {
        flex-direction: column;
    }
    .logo {
        padding-top: 10px;
    }
    .landing-page .banner .banner-left .title {
        font-size: 20px;
    }
    /* .images-page .images-container .box {
        margin: 0 auto;
    } */
}
/* Start Footer */
.footer {
    padding-top: var(--main-padding);
}
.footer .footer-top {
    background-color: rgba(27, 39, 61, 0.99);
    padding: 60px 0;
}
.footer .footer-top .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    color: rgba(255, 255, 255, 0.85);
}
.footer .footer-top .container .logo {
    margin-bottom: 20px;
}
.footer .footer-top .container .title-footer {
    color: var(--main-color);
    margin-bottom: 30px;
    position: relative;
}
.footer .footer-top .container .footer-links li {
    margin-bottom: 20px;

}
.footer .footer-top .container .footer-links a::before{
    position: absolute;
    content: "\f101";
    font-family: "Font Awesome 6 Free";
    font-size: 16px;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900;
    transition: 0.3s;
}
.footer .footer-top .container .footer-links a {
    color:rgba(255, 255, 255, 0.85);
    transition: 0.3s;
    position: relative;
    margin-left: 30px;
}
.footer .footer-top .container .footer-links a:hover {
    color: var(--main-color);
}
.footer .footer-top .container .title-footer::before {
    position: absolute;
    content: "";
    width: 75px;
    height: 1px;
    background: var(--main-color);
    bottom: -5px;
}
.footer .footer-top .container .icons {
    margin-top: 30px;
}
.footer .footer-top .container .icons a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 5px;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    text-align: center;

}
.footer .footer-top .container .icons a i {
    color: rgba(255, 255, 255, 0.85);
    width: 20px;
    height: 20px;
}
.footer .footer-top .container .icons a:hover {
    background-color: var(--main-color);
}

/* End Footer */

/* Start Page Contact */

.contact .bgcontact {
    height: 320px;
    background-repeat: no-repeat;
    background-image: url(/imgs/bgcontact1.jpg);
    background-size: cover;
    position: relative;
}
.contact .bgcontact::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(27, 39, 61, 0.4);
}
.contact .bgcontact .title-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.contact .container .head {
    text-align: center;
    padding: 30px;
}
.contact .container .head h2 {
    color: var(--font-color);
    margin-bottom: 20px;
}
.contact .container .head p {
    color: #777;
    color: #777;
    letter-spacing: 1.5px;
}
.contact .container .info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.contact .container .info .box {
    border: 2px solid #efefef;
    /* padding: 40px 16px; */
    text-align: center;
    padding: 25px 20px;
    border-radius: 10px;
}
.contact .container .info .box h3 {
    margin-bottom: 10px;
    position: relative;
}
.contact .container .info .box h3::before {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-size: 25px;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-color);
}
.contact .container .info .box .address::before {
    content: "\f5a0";
}
.contact .container .info .box .call::before {
    content: "\f095";
}
.contact .container .info .box .email::before {
    content: "\f0e0";
}
.contact .container .info .box p {
    color: #777;
}
/* End Page Contact */
