/* Start Global Rules */
*{
    font-family: "Georama", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
:root{
    --main-color:#0E9E4D;
    --second-color:#1f1f1f;
    --font-color:#424248;
    --hover-color:#208f50;
    --border-color:rgba(14, 158, 77, 0.6);
}
.container {
    padding-left: 60px;
    padding-right: 60px;
}
/* End Global Rules */

/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    background: url(/imgs/download1.jpg);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position:20% 50%;
    position: relative;
}
.landing-page .header-area {
    box-shadow: 0 0 10px #ddd;;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left:60px;
    padding-right:60px;
}
.landing-page  .logo img {
    max-width: 100px;
}
.landing-page  .links li {
    display: inline-block;
    margin-right: 30px;
}
.landing-page  .links a{
    color: var(--second-color);
}
.landing-page  .links a:hover {
    color: var(--main-color);
}
.landing-page  .info-enter .login{
    margin-right: 30px;
}
.landing-page  .info-enter a {
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 5px;
}
.landing-page  .info-enter a:hover,
.landing-page .banner .banner-right .tab-content .submit:hover,
.landing-page .banner .banner-left a:hover{
    background-color: var(--hover-color);
}
.landing-page .container .banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    display: flex;
    justify-content: space-between;

}
.landing-page .banner .banner-left {
    width: 40%;
}

.landing-page .banner .banner-right {
    width: 40%;
}
.landing-page .banner .banner-left .title {
    color: var(--font-color);
    font-size: 48px;
    margin-bottom: 30px;
}
.landing-page .banner .banner-left a {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    position: absolute;
    bottom: 60px;
}
.landing-page .banner .banner-right .title{
    font-size: 22px;
    margin-bottom:10px ;
}
.landing-page .banner .banner-right .tab-content{
    background-color: #ddd;
    border-radius: 5px;
}
.landing-page .banner .banner-right .tab-content form {
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.landing-page .banner .banner-right .tab-content input:not(:last-child) {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.landing-page .banner .banner-right .tab-content input {
    outline: none;
    border: none;
}
.landing-page .banner .banner-right .tab-content .submit {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
}
.landing-page .long-image {
    position: absolute;
    bottom: 0;
    left: 0;
}
.landing-page .long-image img:first-child {
   max-width:100%;
}
.landing-page .long-image .bus {
    position: absolute;
    right: 0;
    bottom: 5px;
    /* animation: move-t0 5s 1s 0s infinite normal linear; */
    animation-name: move-to;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move-to {
    form {
        right:0 ;
    }
    to {
        right: 100%;
    }
}
/* End Landing Page */
/* Start responsive for Landing Page */
@media (max-width:480px) {
    .links , .login,.sign,.long-image {
        display: none;
    }
    .landing-page {
        width: 750px;
    }
    .banner {
        flex-direction: column;
    }
}
/* End responsive for Landing Page */
